html
    head
        style
            include style.css
    body
        include header.pug
        h4 Suppression d'un singe :
        p Votre singe a bien été supprimé !
        include footer.pug