html
    head
        style
            include style.css
    body
        include header.pug
        h4 Suppression d'un enclos :
        p Votre enclos a bien été supprimé !
        a.button(href="/Enclosures/all") Retournez voir les enclos
        include footer.pug