html
    head
        style
            include style.css
    body
        include header.pug
        h4 Création d'un singe :
        p Votre nouveau singe a bien été enregistré !
        a.button(href="/createM") Recréer un singe ?
        include footer.pug