html
    head
        style
            include style.css
    body
        include header.pug
        h4 Modification d'un enclos :
        p Votre enclos a bien été modifié !
        a.button(href="/enclos/all") Retournez voir les enclos
        include footer.pug