html
    head
        style
            include index_style.css
    body
        include header.pug
        h4 Bienvenue sur la page de création d'un singe !
        form(action='/create_monkey', method='POST')
            p
                | Nom: 
                input(type='text', name='name', value='')
                |          Enclos: 
                input(type='text', name='enclosure_name', value='')
                input(type='submit', value='Créer ce singe')
            include footer.pug