html
    body
        h1 Bienvenue sur la page de création d'un singe !
        form(action='/create_enclosure', method='POST')
            p
                | Nom: 
                input(type='text', name='name', value='')
                input(type='submit', value='Créer cet enclos')