html
    head
        style
            include style.css
    body
        div
            include header.pug
        div(class="menu")
            div(class="menu_tile")
                a(href='/Enclosures/all')
                    img(src="static/pictures/enclosureSTous.png" alt="Cliquez ici !" class="img_button")
            div(class="menu_tile")
                a(href='/Enclosures/name')
                    img(src="static/pictures/enclosureSNoms.png" alt="Cliquez ici !" class="img_button")
            div(class="menu_tile")
                a(href='/Enclosures/id')
                    img(src="static/pictures/enclosureSIDs.png" alt="Cliquez ici !" class="img_button")
        div
            include footer.pug