html
    head
        style
            include style.css
    body
        include header.pug
        h4 Cette ID correspond à l'enclos suivant :
        p Nom : #{name}
        p ID : #{id}
        include footer.pug