html
    head
        style
            include index_style.css
    body
        p Retourner à l'accueil ?
        a.button(href='index') Cliquez ici
        p Site réalisé par Romuald Lhottellier Rivet & Thibault Grataloup