html
    head
        style
            include style.css
    body
        div(class="footer")
            p Retourner à l'accueil ?
            a.button(href='index') Cliquez ici
            p Site réalisé par Romuald Lhotellier Rivet & Thibault Grataloup