html
    head
        style
            include style.css
    body
        div
            include header.pug
        div(class="menu")
            div(class="menu_tile")
                a(href='createM')
                    img(src="static/pictures/monkeyC.png" alt="Cliquez ici !" class="img_button")
            div(class="menu_tile")
                a(href='/Monkeys')
                    img(src="static/pictures/monkeyV.png" alt="Cliquez ici !" class="img_button")
            div(class="menu_tile")
                a(href='createE')
                    img(src="static/pictures/enclosureC.png" alt="Cliquez ici !" class="img_button")
            div(class="menu_tile")
                a(href="/Enclosures")
                    img(src="static/pictures/enclosureV.png" alt="Cliquez ici !" class="img_button")
        div
            include footer.pug