body{
    background-image: url("background.jpg");
}

h1{
    text-align: center;
    font-size: 400%;
    color: #AA6C39;
}
h3{
    text-align: center;
    font-size: 200%;
    color: darkgray;
}

.monkey{
    float: left;
}
.enclosure{
    float: right;
}