html
    head
        style
            include style.css
    body
        include header.pug
        div(class="monkey")
            p Vous voulez créer un singe ?
            a(href='createM')
                img(src="static/pictures/monkey.jpg" alt="Cliquez ici !" class="img_button")
        div(class="enclosure")
            p Vous voulez créer un enclos ?
            a(href='createE')
                img(src="static/pictures/enclosure.jpg" alt="Cliquez ici !" class="img_button")
        include footer.pug