html
    body
        h1 Bienvenue sur le site du projet Monkey Manager 3000
        p Vous voulez créer un singe ?
        a.button(href='createM') Créer un singe
        p Vous voulez créer un enclos ?
        a.button(href='createE') Créer un enclos