html
    head
        style
            include index_style.css
    body
        include header.pug
        div(class="monkey")
            p Vous voulez créer un singe ?
            a:img(href='createM')(src="./pictures/monkey.jpg" alt="Cliquez ici !")
        div(class="enclosure")
            p Vous voulez créer un enclos ?
            a:img(href='createM')(src="./pictures/enclosure.jpg" alt="Cliquez ici !")