html
    head
        style
            include style.css
    body
        include header.pug
        h4 Liste des singes :
        -var name =""
        ul
            for monkey in monkeys
                - name = monkey.name
                li #{name}
        include footer.pug