html
    head
        style
            include style.css
    body
        include header.pug
        h4 Liste des singes :
        -var name =""
        -var enclosure =""
        -var id =""
        ul
            li Nom Enclos ID
            for monkey in Monkeys
                - name = monkey.name
                - enclosure = monkey.enclosure_name
                - id = monkey.id
                li #{name} #{enclosure} #{id}
                    a(href="updateM/"+id) Modifier
        include footer.pug