html
    head
        style
            include style.css
    body
        include header.pug
        h4 Bienvenue sur la page de recherche par enclos d'un singe !
        form(action='/Monkeys/enclosure/'+enclosure, method='GET')
            p
                | Recherche : 
                input(type='text', name='enclosure', placeholder='Entrez votre recherche')
                input(type='submit', value='Recherchez moi ce singe !')
            include footer.pug