html
    head
        style
            include style.css
    body
        include header.pug
        h4 Bienvenue sur la page de recherche par nom d'un singe !
        form(action='/Enclosures/name/'+search, method='GET')
            p
                | Recherche : 
                input(type='text', name='search', placeholder='Entrez votre recherche')
                input(type='submit', value='Recherchez moi ce singe !')
            include footer.pug