body{
    background-image: url("static/pictures/background.jpg");
    background-size: cover;
}

.TitleHeader{
    text-align: center;
    font-size: 400%;
    color: #AA6C39;
}
.SubtitleHeader{
    text-align: center;
    font-size: 200%;
    color: darkgray;
}

.footer{
    background-image: url("static/pictures/footer_background.jpg");
    background-size: cover;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.menu{
    display: flex;
    flex-direction: line;
    flex-wrap: wrap;
    justify-content: space-around;
}
.menu_tile{
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
}

.button{
    background-color: grey;
    color: white;
    padding: 14px 25px;
    margin: 14px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button:hover{
    background-color: lightgrey;
    color: black;
}