body{
    background-image: url("static/pictures/background.jpg");
    background-size: cover;
}

.TitleHeader{
    text-align: center;
    font-size: 400%;
    color: #AA6C39;
}
.SubtitleHeader{
    text-align: center;
    font-size: 200%;
    color: darkgray;
}

.monkey{
    float: left;
}
.enclosure{
    float: right;
}
.img_button{
    width: 10%;
    height: 20%;
}