html
    head
        style
            include style.css
    body
        include header.pug
        h4 Bienvenue sur la page de modification d'un singe ! Vous désirez modifier le singe #{monkey.id}
        form(action='/updateM/'+ monkey.id, method='POST')
            p
                | Nom : 
                input(type='text', name='name', value=monkey.name)
                | Enclos : 
                input(type='text', name='enclosure_name', value=monkey.enclosure_name)
                input(type='submit', value='Modifier ce singe')
            include footer.pug