html
    head
        style
            include style.css
    body
        include header.pug
        h4 Bienvenue sur la page de modification d'un singe !
        form(action='/update_monkey/'+id, method='PUT')
            p
                | Nom:
                input(type='text', name='name', value=name)
                |          Enclos: 
                input(type='text', name='enclosure_name', value=enclosure)
                input(type='submit', value='Modifier ce singe')

            p #{id}
            include footer.pug